@using WEB_EF.Models.Classes
@model Car
<form method = "post">
    <table>
        <tr>
            @(ViewData["Message"] ?? string.Empty)
        </tr>
        <tr>
        
        </tr>
        <tr>
        
        </tr>
    </table>   
    <button type = "submit">Save</button>
</form>