@using WEB_EF.Models.Classes;
@model ParkingPlace
@{
    if (!(ViewData["CarTypes"] != null && ViewData["CarTypes"] is List<CarType> carTypes))
    {
        throw new ArgumentNullException("CarTypes");
    }
}

<form method = "post">
    <table>
        <tr>
            @(ViewData["Message"] ?? string.Empty)
        </tr>
        <tr>
            <td>@Html.LabelFor(m=>m.CarType)</td> <td>@Html.DropDownListFor(m=>m.CarType, carTypes.Select(c=> new SelectListItem{Value = c.Id.ToString(), Text = c.TypeName}))</td>    
        </tr>
    </table>   
    <button type = "submit">Save</button>
</form>